body{
    font-family: 'Roboto Condensed', sans-serif;
}
.text-adjust{
    font-size: 60px;
    color:azure;
}
.center-form{
    text-align: center;

}
.text-middle{
    font-size: 20px;
    color:aqua;
}
 .layout-image{
background-image: url(images/children.jpg);
background-repeat: no-repeat;
width: 1600px;
height: 720px;
margin: 0%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color:white;
    font-weight: 700;
    padding:10px 40px;
    border-radius: 5px
}
.half-width{
    width: 50%;
    padding-left: 10%;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 30px rgb(246, 243, 243) ;
    border-radius: 10px;

}
.half-width{
    width: 80%;
}
.give-money{
    text-align: center;
}
.flexiable{
    display:flex;
    margin-bottom: 10px;
}